bin
conf
dbscripts
dropins
extensions
lib
patches
resources
samples
servicepacks
solr
updates
webapp-mode
icons
yajsw
jdk
wso2
repository/database/*
repository/data/*
repository/logs/*
LICENSE.txt
README.txt
release-notes.html