/bin
/conf
/dbscripts
/dropins
/extensions
/lib
/patches
/resources
/samples
/servicepacks
/solr
/updates
/webapp-mode
/wso2
/repository/logs
LICENSE.txt
README.txt
release-notes.html
/repository/data
/repository/database