/bin
/conf
/dbscripts
/dropins
/extensions
/lib
/patches
/resources
/samples
/servicepacks
/solr
/updates
/webapp-mode
/wso2
/repository/logs/*
/repository/data/*
/repository/database/*
/icons
/jdk
/yajsw
LICENSE.txt
README.txt
release-notes.html